<div class="span-22 prepend-1 append-1">
  <h2>Select Existing Survey</h2>
  <div class="allSurveysArea span-22">
    <% counter = 0 %>
    <% @surveys.each do |survey| %>
      <% if(counter == 0) %>
        <%= link_to survey.name, surveyinfo_path(:id => survey.id), {:class => 'span-7 mybutton-half myred'} %>
      <% elsif(counter == 1) %>
        <%= link_to survey.name, surveyinfo_path(:id => survey.id), {:class => 'span-7 mybutton-half myblue prepend-half'} %>
      <% else %>
        <%= link_to survey.name, surveyinfo_path(:id => survey.id), {:class => 'span-7 mybutton-half mygreen last prepend-half'} %>
        <% counter = -1 %>
        <div class="span-22"></div>
      <% end %>
      <% counter = counter + 1 %>
    <% end %>
  </div>

  <div class="divider span-22">
  </div>

  <div class="submitArea span-22">
    <h2>Create New Survey</h2>
  <%= form_for(@survey) do |f| %>
    <div class="field">
      <h2 class="submitLabel">Survey Name:</h2>
      <%= f.text_field :name, :class => "span-10 submitBox" %>
    </div>
    <div class="actions span-5 last">
      <%= f.submit "Create Survey", {:id => "submit-form", :class => "mygreen-hover"} %>
    </div>
  <% end %>
  </div>
</div>
