<div class="span-22 prepend-1 append-1 survey-information">
  <h2><%= @survey.name %> and the value <%= @survey.id %></h2>
  <%= link_to "Take the survey?", takesurvey_path, {:class => 'span-7 mybutton-half'} %>
  <%= link_to "View the survey results?", surveyresults_path, {:class => 'span-7 mybutton-half'} %>
  <%= link_to "Edit the survey?", surveyadmin_path(:id => @survey.id), {:class => 'span-7 mybutton-half'} %>
</div>
<div id="forward-backward-area" class="span-22 prepend-1 append-1">
  <%= link_to "Previous Page?", '/', {:class => 'span-4 mybutton-half'} %>
</div>
