<div class="span-22 prepend-1 append-1">
  <h2><%= @survey.name %></h2>
  <h2>Value 1 is least favorable and 5 is most favorable.</h2>
  <% counter = 0 %>
    <% @questions.each do |question| %>
      <div class="span-22 questionSpacer"><p><%= (counter+1) %><%=". " %><%= question.content %></p></div>
      <div class="span-22 error-box hideError" id="errorset<%= counter %>">Don't Forget To Answer This Question!</div>
      <div class="questionSpacer span-22"></div>
      <div class="span-22 radioButtonLabels">
        <div class="radioButtonLabel">1</div>
        <div class="radioButtonLabel">2</div>
        <div class="radioButtonLabel">3</div>
        <div class="radioButtonLabel">4</div>
        <div class="radioButtonLabel">5</div>
      </div>
      <div class="span-22 radiobuttons">
        <div class="radiobutton" selected="0" set="<%= counter %>" id="radioset<%= counter %>index1"></div>
        <div class="radiobutton" selected="0" set="<%= counter %>" id="radioset<%= counter %>index2"></div>
        <div class="radiobutton" selected="0" set="<%= counter %>" id="radioset<%= counter %>index3"></div>
        <div class="radiobutton" selected="0" set="<%= counter %>" id="radioset<%= counter %>index4"></div>
        <div class="radiobutton" selected="0" set="<%= counter %>" id="radioset<%= counter %>index5"></div>
      </div>
      <% counter = counter + 1 %>
    <% end %>
    <div id="numberOfQuestions" value="<%= counter %>"></div>
    <div class="span-22 above-submit-survey">
      <%= link_to "Submit Survey", saveresults_path(:id => @survey.id, :answers => ""), {:class => 'span-4 mybutton-half mygreen-hover', :id => "submitSurveyAnswers", :onclick => "return submitSurveyJS()"} %>
    </div>
  <div class="divider span-22">
  </div>
</div>
<div id="forward-backward-area" class="span-22 prepend-1 append-1">
  <div class="span-4 mybutton-half myblack previousButtonSize" onclick="verifySelection()">Previous Page?</div> 
  <div class="span-4 mybutton-half myblack previousButtonSize" onclick="verifySelection2()">Main Page?</div> 
</div>
<div  class="span-22 prepend-1 append-1">
  <%= link_to "Leave Page?", surveyinfo_path(:id => @survey.id), {:class => 'mygreen-hover modificationWarning red questionnumber verificationWarning', :id => "hiddenYes"} %>
  <div class="modificationWarning red questionnumber verificationWarning mygreen-hover" id="hiddenNo" onclick="hideVerification()">Stay Here?</div>
</div>
<div  class="span-22 prepend-1 append-1">
  <%= link_to "Leave Page?", '/', {:class => 'mygreen-hover modificationWarning red questionnumber verificationWarning', :id => "hiddenYes2"} %>
  <div class="modificationWarning red questionnumber verificationWarning mygreen-hover" id="hiddenNo2" onclick="hideVerification2()">Stay Here?</div>
</div>
